// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

$v-background-color: hsl(201, 50%, 85%);
$v-border-radius: 2px;

@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;
  
  .mymargins.v-margin-top    {padding-top:    40px;}
  // Insert your own theme rules here
  /* White background for the entire UI */
  // .v-ui {
  //   background: white;
  // }

  // /* All labels have white text on black background */
  // .v-label {
  //   background: black;
  //   color: white;
  //   font-size: 24pt;
  //   line-height: 24pt;
  //   padding: 5px;
  // }

  // /* All buttons have blue caption and some margin */
  // .v-button{
  //   margin: 10px;
  //   background-image: none;
  //   background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  //   // background-color: #F1C204;

  //   /* A nested selector to increase specificity */
  //   .v-button-caption {
  //     color: white;
  //     font-weight: bold;
  //   }
  // }
  
  
  
  .fondoImagen{
  	background-image:url("img/paisaje.jpg");
  	background-size: cover;
  	background-repeat: no-repeat;
  }
  .quitarPadding{
  	margin: 0;
  }
  .fondoAmarillo{
  	padding-bottom: 80px;
  	background-color: yellow;
  }
  
  .wrapLine{
  	display: inline-block;
  	word-wrap: break-word; /* IE  */
   	white-space: -moz-pre-wrap; /* Firefox */
   	
   }
  .backcolor{
  	background-color: rgb(3, 169, 244);
  	border: solid black 2px;
  }
  .quitarMargen{
  	margin: 0;
  }
  .fondoRojo{
  	background-color: red;
  }
  .fondoVerde{
  	background-color: green;
  }
  
  .post{
  	display: inline-block;
  	background-color: #75bfea;
  	margin-bottom: 50px;
  	border-radius: 4px;
  }
  
  
  
}
